:root{
    --collor--white: white;
    --collor-gray: #f0f2f5;
    --collor-gray2: #dddfe2;
    --collor-gray3: #4242437b;
    --collor-gray4: #4c4c4c;
    --collor-dark: #1d2129;
    --collor-blue: #1b74e4;
    --color-blue2: #1268d9;
    --collor-green: #42b72a;
    --collor-green2: #36a420;
}



.boxComment{
    margin-left: 3%;
    width: 550px;
    background-color: var(--collor-gray);
    border-radius: 20px;
    border: 0;
}

.messageComment{
    padding: 10px 0px ;
    font-size: 17px;
    color: var(--collor-gray4);
    display: flex;
    margin: 0px 30px;
    text-align: left;
}

.dateComment{
    font-size: 15px;
    color: var(--collor-gray3);
    display: flex; 
    margin: 0px 30px;
    margin-top: -15px;
}

