:root{
    --collor--white: white;
    --collor-gray: #f0f2f5;
    --collor-gray2: #dddfe2;
    --collor-gray3: #4242437b;
    --collor-gray4: #4c4c4c;
    --collor-dark: #1d2129;
    --collor-blue: #1b74e4;
    --color-blue2: #1268d9;
    --collor-green: #42b72a;
    --collor-green2: #36a420;
}

.messageBox{
    background-color: var(--collor--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 10px;
}


.profileIconFeed {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
}


.profilePhoto{
    display: flex;
    margin: -5px 20px;
}


.spanText{
    font-size: 20px;
    color: var(--collor-gray4);
    display: flex;
    margin: 1px 20px;
}


.userName{
    font-size: 18px;
    color: var(--collor-gray4);
    display: flex;
    margin: 5px 14px;
}

.datePost{
    margin: 31px -83px;
    font-size: 12px;
    color: var(--collor-gray3);
    font-weight: bold;
    display: flex; 

}

.username-date-added{
    display: flex;
    margin: 10px 10px;
}

.messagePost{
    font-size: 18px;
    color: var(--collor-gray4);
    display: flex;
    text-align: left;
    margin: 0px 27px;
}

.actions {
    display: flex;
    padding: 20px 40px;
    flex-direction: row; 
}

.actionSingle {
    width: 50%;
    margin-right: 10px;
}


.post-image {
    display: center;
    border-radius: 5px;
    width: 500px;
    padding: 5px;
    padding-top: 10px;
}
