:root{
    --collor--white: white;
    --collor-gray: #f0f2f5;
    --collor-gray2: #dddfe2;
    --collor-gray3: #4242437b;
    --collor-gray4: #4c4c4c;
    --collor-dark: #1d2129;
    --collor-blue: #1b74e4;
    --color-blue2: #1268d9;
    --collor-green: #42b72a;
    --collor-green2: #36a420;
}

.messageBox{
    background-color: var(--collor--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 10px;
}



.profileIconFeed {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px
}


.profilePhoto{
    display: flex;
    align-items: flex-start;
    margin: 10px 30px;
}


.spanText{
    font-size: 20px;
    color: var(--collor-gray4);
    display: flex;
    margin: 0;
}

.datePost{
    font-size: 15px;
    color: var(--collor-gray4);
    display: flex; 
}

.messagePost{
    font-size: 18px;
    color: var(--collor-gray4);
    display: flex;
    margin: 10px 30px;
    text-align: left;
}

.actions {
    display: flex;
    padding: 20px 40px;
    flex-direction: row; 
}

.actionSingle {
    width: 50%;
    margin-right: 10px;
}




