

:root{
    --collor--white: white;
    --collor-gray: #f0f2f5;
    --collor-gray2: #dddfe2;
    --collor-gray3: #4242437b;
    --collor-dark: #1d2129;
    --collor-blue: #1b74e4;
    --color-blue2: #1268d9;
    --collor-green: #42b72a;
    --collor-green2: #36a420;
}

.nav-box{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--collor-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white; */
}


.navbar-header {
    background-color: var(--collor-blue);
    color: var(--collor--white);
    position: fixed; 
    align-items: center;
    top: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    z-index: 10 
}

.left-header{
    width: 50%;
    text-align: left;
    margin: 10px;
}   

.logo{
    margin-top: 10px;
    margin-left: 2%;

}

.logo-home{
    color: var(--collor--white);
    font-size: 2.5rem;
    font-weight: bold;
    transition: .2s;
    margin-bottom: 0;
    margin-top: -10px;
    margin-left: 2%;
    padding: 10px 10px; 
    cursor: pointer;
}

.buttons{
    margin-top: -10px;
    margin-left: 30%;

}

.btnHeader-profile,
.btnHeader-account,
.btnHeader-logout {
    width: calc((50% - 40px) / 3);
    height: 20px;
    margin-top: -10px;
    margin-left: 2%;
    color: var(--color-white);
    font-size: 20px;
    transition: .2s;
    cursor: pointer;
    display: inline-block;
}



.right-header{
    width: 50%;
    text-align: right;
    margin: 10px;

}

.user-greeting{
    width: 200px;
    display: inline-block;
    font-size: 30px;
    color: var(--collor--white); */
    margin-top: -90px;
    margin-right: 3%;
    
}

.photo-profile{
    background-color: var(--collor--white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 10px; 
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 28px;
    cursor: pointer;
    margin-right: 80px;
    }
    

