.update-image {
    max-width: 175px;
    margin-left: 20px;
}

.update-account-box{
    background-color: var(--collor--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
    padding: 5rem; 
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}


.update-account-box input[type="text"],
.update-account-box input[type="email"],
.update-account-box input[type="password"] {
    width: 100%; 
    padding: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

